#----------------------- <+++ansible-managed-file+++> -------------------------+
#
#                             IMPORTANT WARNING
#
#  This file is managed remotely by Ansible orchestration tool. Any local
#  changes will be overwritten without any notice !!! You have been warned !!!
#
#----------------------- <+++ansible-managed-file+++> -------------------------+

{%- for cmd in hm_monitored__local_commands %}
{{ hm_monitored__plugins_dir }}/{{ cmd['command'] }} | {{ cmd['clean'] }}
{%- endfor %}
